
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
.app-about-container {
  background: #150238;
  min-height: 100vh;
  padding: 2rem;
  font-family: 'Gotham';

  .nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: #150238;
  }
}

.about-container {
  max-width: 800px;
  margin: 5rem auto;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;

  .title{
    font-size: 20px;
  }

}

.about-container > div {
    font-size: 14px;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #fff;
}

.about-container ul {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
    font-size: 14px;
}

.about-container ul li::before {
  content: "• ";
  color: #007acc;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  font-size: 14px;
}

.about-container ul li {
  margin-bottom: 0.5rem;
    font-size: 14px;
    color: orange;
}

@media (max-width: 600px) {
  .about-container {
    width: 100%;
    padding: .2rem;
  }

  .about-container > div,
  .about-container ul li {
      font-size: 14px;
  }
}
@media (max-width: 361px) {
  .about-container {
    width: 100%;
    padding: .2rem;

    a{
      font-size: 11px;
    }
  }
}
