*{
    margin: 0;
    border: 0;
    box-shadow: none;
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}

.pageTitle{
    border-bottom: 1px solid #e8ebeb;
    font-family: 'UberMoveMedium';
    padding: 1.7rem 0;
    font-size: 24px;
    color: teal;
}

@media (max-width: 768px){
    .pageTitle{
        padding: 1.7rem 4%;
}
}