*{
    margin: 0;
    border: 0;
    box-shadow: none;
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}
@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
.pageTitle-notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8ebeb;
    padding: 1.5rem 0;
    padding-right: 2rem;

    .pageTitle{
    font-family: 'UberMoveMedium';
    font-size: 24px;
    color: teal;
}


    .notification{
        display: flex;
        align-items: center;
        gap: .1rem;
        font-family: 'satoshi-black';
    }

}
@media (max-width: 768px){
    .pageTitle-notification{
        padding-left: .5rem;
        width: 95%;
        margin-top: 1.5rem;


    .notification{
        img{
            width: 1.2rem;
            height: 1.2rem;
        }

    }

}
}