/* Login.css */
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
.app-login-container {
  background: #150238;
  height: 100vh;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .app-login-container .nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: #150238;
  }

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

.app-login-container form {
  color: #333;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-login-container form div:first-child {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #cfccf3;
  font-family: 'SpaceGrotesk';
  margin-bottom: 1rem;
}

.app-login-container label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #d1d1d1;
}

.app-login-container input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
  background: transparent;
  color: teal;
}

.app-login-container input:focus {
  border-color: #007acc;
}

.app-login-container form div:last-child {
  background-color: orange;
  color: #fff;
  text-align: center;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.app-login-container form div:last-child:hover {
  background-color: #250356;
}

@media (max-width: 600px){
  .app-login-container form {
    font-size: 14px;
    padding: 2rem 1rem;
    width: fit-content;
}

.app-login-container form div:first-child {
  font-size: 1.2rem;
  text-align: center;
}

.app-login-container label {
  font-size: 14px;
}

.app-login-container input {
  font-size: 14px;
}

}

